<template name="_goalsForm" >
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="title">Progress</label>
        <input type="number" class="form-control" id="progress" min="0" max="100">
      </div>
      {{#unless $eq milestone.type 'strategic' }}
        <div class="form-group">
          <label for="parentId">Parent Goal</label>
          <select class="form-control" id="parentId">
            {{#each parent in parents }}
              <option value="{{parent._id}}">{{parent.title}}</option>
            {{/each}}
          </select>
        </div>
      {{/unless}}
      <div class="form-group">
        <input type="checkbox" id="measurable" checked>
        <label for="measurable">Measurable</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary js-insert-goal">Add</button>
  </div>
</template>
