<template name="_goalsForm" >	
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title">
      </div>
      <div class="form-group">
        <label for="title">Priority</label>
        <input type="number" max="999" class="form-control" id="priority">
      </div>
      {{#unless $eq milestone.type 'strategic' }}
        <div class="form-group">
          <label for="parentId">Parent Goal</label>
          <select class="form-control" id="parentId">
            <option value="">None</option>
            {{#each parent in parents }}
              <option value="{{parent._id}}">{{parent.title}}</option>
            {{/each}}
          </select>
        </div>
      {{/unless}}
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary js-insert-goal">Add</button>
  </div>
</template>
