<template name="_goalsForm" >
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">{{_ "Title"}}</label>
        <input type="text" class="form-control" id="title" value="{{goal.title}}">
      </div>
      <div class="form-group">
        <label for="title">{{_ "Rank (#1 is goal you'd refuse last)"}}</label>
        <input type="number" class="form-control" id="rank" value="{{instance.rank.get}}">
      </div>
      <div class="form-group">
        <label for="title">{{_ "Progress"}}</label>
        <input type="number" class="form-control" id="progress" min="0" max="100"
          value="{{$or goal.completedPct 0}}">
      </div>
      {{#unless $eq milestone.type 'years' }}
        <div class="form-group">
          <label for="parentId">{{_ "Parent goal"}}</label>
          <select class="form-control" id="parentId">
            <option value="">{{_ "None"}}</option>
            {{#each parent in parents }}
              <option value="{{parent._id}}">{{parent.title}}</option>
            {{/each}}
          </select>
        </div>
      {{/unless}}
    </form>
  </div>
  <div class="modal-footer">
    {{#if canDelete}}
      <button type="button" class="btn btn-danger js-remove-goal" title="Remove">
        {{_ "Delete"}}
      </button>
    {{/if}}
    <button type="button" class="btn btn-primary js-save">{{_ "Save"}}</button>
  </div>
</template>
