<template name="_formModal">
  <div class="modal" id="formModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{_ title }}</h4>
        </div>
        {{> Template.dynamic template=template data=data }}
      </div>
    </div>
  </div>
</template>

