<template name="navigation">
	 <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{pathFor 'home'}}">Pelorus</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{{ activeIfTemplateIs 'home' }}">
                <a href="/">{{_ "Home" }}</a>
              </li>
              <li class="{{ activeIfTemplateIs 'about' }}" >
                <a href="/about">
                {{_ "About" }}
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {{#if canAddMilestones}}
                <li>
                  <a class="js-add-milestone">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span>
                    {{_ "Add a milestone" }}
                  </a>
                </li>
              {{/if}}
              {{> loginButtons}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <span class="glyphicon glyphicon-globe" aria-hidden="true">
                  </span>
                  <span class="caret">
                  </span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="js-set-language" href="#" data-lang="en">English</a></li>
                  <li><a class="js-set-language" href="#" data-lang="ru">Русский</a></li>
                  <li><a class="js-set-language" href="#" data-lang="ua">Українська</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</template>
