<template name="about">
  <div class="container">
    <h1>Main Idea</h1>
    Pelorus is a simple yet highly-effective planning tool that helps reaching goals in a way of successive approximations (based on Dynamic programming).
    It’s not actually a to-do list, but you can use it to improve to-do list compilation. It’s about decomposing strategic goals into a series of simple steps. On each step you can review your actual state vector for each goal and plan next steps accordingly. This way you can track your achievements on a regular basis and keep yourself up.
    </div>
</template>