<template name="home">
  <div class="row">
    <div class="col-md-3">
      <h1>Week</h1>
      <div class="panel panel-default dashed-border">
        <div class="panel-body">
          <a href="#" class="btn btn-success">+</a>
         </div>
      </div>
    </div>
    <div class="col-md-3">
      <h1>Month</h1>
      <div class="panel panel-default dashed-border">
        <div class="panel-body">
          <a href="#" class="btn btn-success">+</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h1>Year</h1>
      <div class="panel panel-default dashed-border">
        <div class="panel-body">
          <a href="#" class="btn btn-success">+</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h1>Strategic</h1>
      <div class="panel panel-default dashed-border">
        <div class="panel-body">
          <a href="#" class="btn btn-success">+</a>
        </div>
      </div>
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</template>

