.milestone {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex: 1 100%;
  -webkit-transition: 500ms ease 1s;
  -moz-transition: 500ms ease 1s;
  -o-transition: 500ms ease 1s;
  transition: 500ms ease 1s;
}

.bar {
  width: 20px;
  margin-bottom: 3px;
  position: relative;
}

.submilestones {
  flex-direction: column;
  flex: 1 100%;
  margin-left: 3px;
}

.vertical-text {
  transform: translate(0, 50%) rotate(-90deg);
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
}

.expanded {
  widows: 300px;
}

.bar[data-view-type='strategic'] {
  min-height: 200px;
}

.bar[data-view-type='year'] {
  min-height: 140px;
}

.bar[data-view-type='month'] {
  min-height: 110px;
}

.bar[data-view-type='week'] {
  min-height: 80px;
}

.milestone.active > .bar.view-type {
  width: 85%;
}

.active > .bar > p.vertical-text {
  transform: inherit;
  position: relative;
  background-color: whitesmoke;
  padding: 3px;
}

.milestone > .bar > ul.list-group {
  display: none;
}

.milestone.active > .bar > ul.list-group {
  display: inherit;
}

.milestone .panel{
  padding-bottom: 45px;
}

.milestone a.btn.js-add-goal {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 35px;
  width: 45px;
}

.milestone.active .submilestones {
  flex: 0%;
}

.milestone.create .bar {
  padding: 0;
}

span.js-add-milestone {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100%;
  color: grey;
}