<template name="timeline">
 {{> milestoneAlt milestone=strategicMilestone currentView=currentView}}
</template>

<template name="milestoneAlt">
  <div class="milestone {{#if $eq currentView milestone.type}}active{{/if}}">
    <div class="bar panel panel-default" data-view-type="{{milestone.type}}">
      <p class="vertical-text">{{getTitle}}</p>
    </div>
    <div class="milestone-content panel panel-default">
      <div class="panel-heading">{{getTitle}}</div>
      <ul class="list-group">
        {{# each goal in milestone.goals}}
          <li id="{{goal._id}}" class="list-group-item">
            {{goal.title}}
            <a href="#">
              <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
            </a>
          </li>
        {{/each}}
      </ul>
      <div class="panel-body">
        <a href="#" class="btn btn-success pull-right js-add-goal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="submilestones">
      {{#each childMilestone in milestone.children}}
        {{> milestoneAlt milestone=childMilestone currentView=currentView}}
      {{/each}}
    </div>
  </div>
</template>
