<template name="_milestonesColumn">
  <div class="panel panel-default {{#unless milestone}}dashed{{/unless}}">
    <div class="panel-heading">
      {{title}}
      {{#if milestone}}
        <a href="{{pathFor route='milestonesShow' data=milestone}}" class="pull-right">
          <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
        </a>
      {{else}}
        <a href="#" class="pull-right js-add-milestone">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      {{/if}}
    </div>
    <ul class="list-group">
      {{# each goal in milestone.goals}}
        <li class="list-group-item">
          {{goal.title}}
          <a href="#">
            <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
          </a>
        </li>
      {{/each}}
    </ul>
    <div class="panel-body">
      <a href="#" class="btn btn-success {{#unless milestone}}disabled{{/unless}} js-add-goal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</template>

