<template name="_milestonesForm">
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="parentId">Type of Milestone</label>
        <select class="form-control" id="type">
          {{#each oneType in types }}
            <option value="{{oneType}}">{{oneType}}</option>
          {{/each}}
        </select>
      </div>
      {{#unless $eq type 'strategic' }}
        <div class="form-group">
          <label for="parentId">Parent Milestone</label>
          <select class="form-control" id="parentId">
            {{#each parent in parents }}
              <option value="{{parent._id}}">{{parent.title 'extended'}}</option>
            {{/each}}
          </select>
        </div>
        {{/unless}}
      <div class="form-group">
        <label for="period">
          {{#if $eq type 'strategic' }}
            Title
          {{else}}
            {{periodTitle}}
          {{/if}}
        </label>
        <input type="{{periodInputType}}" class="form-control" id="period" min="2000">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary js-insert-milestone">Add</button>
  </div>
</template>

