<template name="_milestonesForm">
  <div class="modal-body">
    <div class="alert alert-danger" style="display: none;">
      <button type="button" class="close js-error-close" aria-hidden="true">
        &times;
      </button>

      {{error}}
    </div>
    <form>
      <div class="form-group">
        <label for="type">{{_ "Type of Milestone" }}</label>
        <select class="form-control" id="type" name="type">
          {{#each currentType in types }}
            <option value="{{currentType}}" {{attrIfEq currentType type 'selected'}}>
            {{_ currentType }}</option>
          {{/each}}
        </select>
      </div>
      {{#if $eq type 'years' }}
        <div class="form-group">
          <label class="control-label" for="firstYear">First year</label>
          <input type="year" required class="form-control" id="firstYear" name="firstYear" min="2000" value="{{firstYear}}">
        </div>
        <div class="form-group">
          <label class="control-label" for="lastYear">Last year</label>
          <input type="year" required class="form-control" id="lastYear" name="lastYear" min="2000" value="{{lastYear}}">
        </div>
      {{else}}
        <div class="form-group">
          <label class="control-label" for="period">
            {{_ periodTitle }}
            <span class="period-err-msg"></span>
          </label>
          <input type="{{periodInputType}}" required class="form-control" id="period" name="period" min="2000">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="copyGoals"> {{_ "Copy goals from parent milestone"}}
          </label>
        </div>
      {{/if}}
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary js-insert-milestone">
      {{_ "Add" }}
    </button>
  </div>
</template>
