<template name="_milestonesForm">
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="parentId">Type of Milestone</label>
        <select class="form-control" id="type">
          {{#each currentType in types }}
            <option value="{{currentType}}" {{attrIfEq currentType type 'selected'}}>{{currentType}}</option>
          {{/each}}
        </select>
      </div>
      {{#unless $eq type 'strategic' }}
        <div class="form-group">
          <label for="parentId">Parent Milestone</label>
          <select class="form-control" id="parentId">
            {{#each parent in parents }}
              <option value="{{parent._id}}" {{attrIfEq selectedParentId parent._id 'selected'}}>{{parent.title 'extended'}}</option>
            {{/each}}
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="period">
            {{periodTitle}} <span class="period-err-msg"></span>
          </label>
          <input type="{{periodInputType}}" class="form-control" id="period" min="2000">
        </div>
      {{/unless}}
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary js-insert-milestone">Add</button>
  </div>
</template>

