<template name="_milestoneLevel">
  <div class="milestone {{#if $eq activeType.get milestone.type}}active{{/if}}">
    <div class="bar panel panel-default">
      <div class="vertical-text">
        <span>{{{milestone.title}}} ({{{milestone.progress}}}%)</span>
      </div>
    </div>
    {{> _milestoneContent milestone=milestone}}
    {{#if $gt milestone.children.count 0}}
      <div class="submilestones">
        {{> milestonesIndex milestones=milestone.children activeType=activeType}}
      </div>
    {{/if}}
  </div>
</template>
