<template name="_milestoneLevel">
  <div class="milestone {{#if $eq activeType.get milestone.type}}active{{/if}}">
    <div class="bar panel panel-default" data-view-type="{{milestone.type}}">
      <p class="vertical-text">{{{milestone.title}}}</p>
    </div>
    <div class="milestone-content panel panel-default">
      <div class="panel-heading">{{{milestone.title}}}</div>
      <ul class="list-group">
        {{# each goal in milestone.goals}}
          <li id="{{goal._id}}" class="list-group-item">
            {{goal.title}}
            <a href="#">
              <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
            </a>
          </li>
        {{/each}}
      </ul>
      <div class="panel-body">
        <a href="#" class="btn btn-success pull-right js-add-goal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    {{#if $gt milestone.children.count 0}}
      <div class="submilestones">
        {{> milestonesIndex milestones=milestone.children activeType=activeType}}
      </div>
    {{/if}}
  </div>
</template>
