<template name="_milestoneContent">
  <div class="milestone-content panel panel-default">
    <div class="panel-heading">{{milestone.title true}}</div>
    <ul class="list-group">
      {{# each goal in milestone.goals}}
        {{> _goal goal=goal milestone=milestone}}
      {{/each}}
    </ul>
    <div class="panel-body">
      <a href="#" class="btn btn-success pull-right js-add-goal">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</template>
