<template name="_milestone">
  <div class="panel panel-{{#if milestone.isCurrent}}warning{{else}}default{{/if}} bar">
    <p class="{{#if milestone.isCurrent}}text-warning{{/if}} vertical-text">
      {{milestone.title}}
    </p>
  </div>
  <div class="panel panel-{{#if milestone.isCurrent}}warning{{else}}default{{/if}} milestone-content">
    {{#if milestone._id}}
      <div class="panel-heading">{{milestone.title true}}</div>
      <ul class="list-group">
        {{# each goal in milestone.goals}}
          {{> _goal goal=goal milestone=milestone}}
        {{/each}}
      </ul>
      <div class="panel-body">
        <a href="#" class="btn btn-success pull-right js-add-goal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
    {{/if}}
  </div>
</template>
