<template name="_milestone">
  <div class="panel panel-default bar">
    <p class="vertical-text">{{milestone.title}}</p>
  </div>
  <div class="panel panel-default milestone-content
              {{#if milestone.isCurrent}}panel-warning{{/if}}">
    {{#if milestone._id}}
      <div class="panel-heading">{{milestone.title true}}</div>
      <ul class="list-group">
        {{# each goal in milestone.goals}}
          {{> _goal goal=goal milestone=milestone}}
        {{/each}}
      </ul>
      <div class="panel-body">
        <a href="#" class="btn btn-success pull-right js-add-goal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
    {{/if}}
  </div>
</template>
