<template name="_milestone">
  <div class="panel panel-default bar">
    <div class="vertical-text">
      <span><b>{{{milestone.title}}}</b> ({{{milestone.progress}}}%)</span>
    </div>
  </div>
  <div class="panel panel-default milestone-content">
    {{#if milestone._id}}
      <div class="panel-heading">{{milestone.title true}}
        <progress max="100" value="{{milestone.progress}}"></progress>
      </div>
      <ul class="list-group">
        {{# each goal in milestone.goals}}
          {{> _goal goal=goal milestone=milestone}}
        {{/each}}
      </ul>
      <div class="panel-body">
        <a href="#" class="btn btn-success pull-right js-add-goal">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
      </div>
    {{/if}}
  </div>
</template>
