.dashed > .panel {
  border-style: dashed;
  min-height: 107px;
}

/* Milestone timeline layout */
.milestone {
  display: flex;
  justify-content: space-between;
  flex: 1 100%;
  min-height: 175px;
}

.bar {
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submilestones {
  flex-direction: column;
  flex: 1 100%;
  margin-left: 3px;
}

.panel {
  margin-bottom: 3px;
}

.vertical-text {
  transform: rotate(-90deg);
  white-space: nowrap;
}

/* Milestone timeline layout level switching */
.milestone-content {
  width: 0px;
  visibility: hidden;
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
}

.milestone.active > .milestone-content {
  display: block;
  width: 100%;
  visibility: visible;
}

.milestone.active > .bar {
  display: none;
}

.milestone.active .submilestones {
  flex: 0%;
}
