/* Stages timeline */
.stage {
  display: flex;
  flex: 1 100%;
}

.bar {
  width: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.substages {
  flex-direction: column;
  flex: 1 100%;
  margin-left: 3px;
  display: flex;
}

.vertical-text {
  transform: rotate(-90deg);
  white-space: nowrap;
}

.panel {
  margin-bottom: 3px;
}

.dashed > .panel {
  border-style: dashed;
}

/* Stages level switching */
.stage-content {
  width: 0px;
  visibility: hidden;
  white-space: nowrap;
  overflow-x: hidden;
}

.stage.active > .stage-content {
  width: 100%;
  visibility: visible;
}

.stage.active > .bar {
  display: none;
}

.stage.active .substages {
  flex: 0%;
}

/* Goals */
.goal {
  justify-content: space-between;
  display: flex;
}

.active > .stage-content .goal-content {
  white-space: normal;
  word-break: break-all;
  margin-left: 3px;
  flex-grow: 2;
}
